<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<ul class="dropdown-list" data-count="{count}" data-severityclass="{severityBadgeClass}">
    <li class="dropdown-header">
        <core:icon identifier="px-shopware" />
        <f:translate key="LLL:EXT:px_shopware/Resources/Private/Language/locallang_db.xlf:toolbar_items.shopware_connector_information.header" />
        <span> - {extensionInformation.version}</span>
    </li>
    <li class="dropdown-intro typo3-module-menu-item submodule">
        <f:translate key="LLL:EXT:px_shopware/Resources/Private/Language/locallang_db.xlf:toolbar_items.shopware_connector_information.shop" />
    </li>
    <li>
        <dl class="dl-horizontal">
            <f:for each="{shopInformation}" as="info">
                <dt title="{info.title}"><f:format.raw>{info.icon}</f:format.raw> {info.title}</dt>
                <dd><f:if condition="{info.status}">
                    <f:then>
                        <span class="text-{info.status}"><f:format.raw>{info.value}</f:format.raw></span>
                    </f:then>
                    <f:else>
                        <f:format.raw>{info.value}</f:format.raw>
                    </f:else>
                </f:if></dd>
            </f:for>
        </dl>
    </li>

    <li class="dropdown-intro typo3-module-menu-item submodule">
        <f:translate key="LLL:EXT:px_shopware/Resources/Private/Language/locallang_db.xlf:toolbar_items.shopware_connector_information.cache" />
    </li>
    <li>
        <dl class="dl-horizontal">
            <f:for each="{cacheInformation}" as="info">
                <dt title="{info.title}"><f:format.raw>{info.icon}</f:format.raw> {info.title}</dt>
                <dd><f:if condition="{info.status}">
                    <f:then>
                        <span class="text-{info.status}"> <f:format.raw>{info.value}</f:format.raw></span>
                    </f:then>
                    <f:else>
                        <f:format.raw>{info.value}</f:format.raw>
                    </f:else>
                </f:if></dd>
            </f:for>
        </dl>
    </li>

    <li class="divider"></li>
    <f:for each="{messages}" as="message">
        <li>
            <span class="text-{message.status}"><f:format.raw>{message.text}</f:format.raw></span>
        </li>
    </f:for>
</ul>

</html>
