<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:s="http://typo3.org/ns/Portrino/PxShopware/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{language}">
    <f:then>
        <f:render section="localized-image" arguments="{_all}" />
    </f:then>
    <f:else>
        <f:render section="default-image" arguments="{_all}" />
    </f:else>
</f:if>

<f:section name="default-image">
    <s:media.exists file="{settings.noImage.path}{settings.noImage.filename}">
        <f:then>
            <f:image
                src="{settings.noImage.path}{settings.noImage.filename}"
                height="{f:if(condition: height, then: height, else: 'auto')}"
                width="{f:if(condition: width, then: width, else: 'auto')}"
                title="{article.name}"
                alt="{article.name}" />
        </f:then>
        <f:else>
            <f:image
                src="EXT:px_shopware/Resources/Public/Images/no_image_available.jpg"
                height="{f:if(condition: height, then: height, else: 'auto')}"
                width="{f:if(condition: width, then: width, else: 'auto')}"
                title="{article.name}"
                alt="{article.name}" />
        </f:else>
    </s:media.exists>
</f:section>

<f:section name="localized-image">
    <s:media.exists file="{settings.noImage.path}{language}.{settings.noImage.filename}">
        <f:then>
            <f:image
                src="{settings.noImage.path}{language}.{settings.noImage.filename}"
                height="{f:if(condition: height, then: height, else: 'auto')}"
                width="{f:if(condition: width, then: width, else: 'auto')}"
                title="{article.name}"
                alt="{article.name}" />
        </f:then>
        <f:else>
            <s:media.exists file="EXT:px_shopware/Resources/Public/Images/{language}.no_image_available.jpg">
                <f:then>
                    <f:image
                        src="EXT:px_shopware/Resources/Public/Images/{language}.no_image_available.jpg"
                        height="{f:if(condition: height, then: height, else: 'auto')}"
                        width="{f:if(condition: width, then: width, else: 'auto')}"
                        title="{article.name}"
                        alt="{article.name}" />
                </f:then>
                <f:else>
                    <f:render section="default-image" arguments="{_all}" />
                </f:else>
            </s:media.exists>
        </f:else>
    </s:media.exists>
</f:section>

</html>
