<f:if condition="{article.uri}">
    <f:then>
        <a href="{article.uri}">
            <f:render section="article" arguments="{_all}" />
        </a>
    </f:then>
    <f:else>
        <f:render section="article" arguments="{_all}" />
    </f:else>
</f:if>

<f:section name="article">
    <div class="article item">
        <figure>
            <f:render section="image" arguments="{_all}" />
            <figcaption>
                <f:if condition="{article.name}">
                    <div class="title">{article.name}</div>
                </f:if>
                <f:if condition="{article.description}">
                    <div class="description">{article.description -> f:format.raw()}</div>
                </f:if>
            </figcaption>
        </figure>
    </div>
</f:section>

<f:section name="image">
    <f:if condition="{article.firstImage}">
        <f:then>
            <img src="{article.firstImage.url}" width="200" height="200" title="{article.name}" alt="{article.name}" >
        </f:then>
        <f:else>
            <f:alias map="{height: 200, width: 200}">
                <f:render partial="NoImage" arguments="{_all}" />
            </f:alias>
        </f:else>
    </f:if>
</f:section>