<f:if condition="{category.url}">
    <f:then>
        <a href="{category.url}">
            <f:render section="category" arguments="{_all}" />
        </a>
    </f:then>
    <f:else>
        <f:render section="category" arguments="{_all}" />
    </f:else>
</f:if>

<f:section name="category">
    <div class="category item">
        {category.name}
        <f:for each="{category.subCategories}" as="subCategory">
            {subCategory.name}
            <f:for each="{subCategory.subCategories}" as="subSubCategory">
                {subSubCategory.name}
            </f:for>
        </f:for>
    </div>
</f:section>