.t3js-topbar-toolbar .t3js-toolbar-item[data-toolbar-identifier="shopware-connector-information-toolbar-item"] .dropdown-toggle .badge {
    display: none;
    font-size: 10px;
    min-width: 15px;
    height: 15px;
    position: absolute;
    padding: 0;
    border-radius: 2px;
    line-height: 15px;
    bottom: 5px;
    right: 5px;
}
